<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>xkcd comic api</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">

    <header>
        <h1>Generate a new comic</h1>
        <nav class="menu">
          <% for( var i = 0; i < task.length; i++){ %>
            <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
          <% } %>
        </nav>
    </header>

    <article>
        <h2>comsething</h2>
        <% for(var i = 0; i < complete.length; i++){ %>
          <li><input type="checkbox" checked><%= complete[i] %> </li>
        <% } %>
    </article>

    <footer>
        <small>&copy;2019</small>
    </footer>
</div>
</body>
</html>